body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin-bottom: 0px;
    font-size: 14px;
    color: #666666;
    line-height: 30px;
}

a {
    text-decoration: none!important;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

a.filled-button {
    background-color: #a4c639;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
}

a.filled-button:hover {
    background-color: #fff;
    color: #a4c639;
}

a.border-button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 28px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
}

a.border-button:hover {
    background-color: #fff;
    color: #a4c639;
}

.section-heading {
    text-align: center;
    margin-bottom: 80px;
}

.section-heading h2 {
    font-size: 36px;
    font-weight: 600;
    color: #1e1e1e;
}

.section-heading em {
    font-style: normal;
    color: #a4c639;
}

.section-heading span {
    display: block;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 15px;
    color: #666;
    letter-spacing: 1px;
}

#preloader {
    overflow: hidden;
    background: #00a54f;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999999;
    color: #fff;
}

#preloader .jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
}

#preloader .jumper>div {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    -webkit-animation: jumper 1s 0s linear infinite;
    animation: jumper 1s 0s linear infinite;
}

#preloader .jumper>div:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
}

#preloader .jumper>div:nth-child(3) {
    -webkit-animation-delay: 0.66666s;
    animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    5% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* ====scroll to top====== */


/* The goods */

.scrollDown {
    width: 2rem;
    height: 2rem;
    background-color: purple;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    transition: background-color 0.5s ease;
    z-index: 6000;
    margin-right: 2em;
    margin-bottom: 2em;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    transition: margin-bottom 0.2s;
}

.scrollDown:hover {
    background-color: maroon;
}

.scrollDown:active {
    margin-bottom: 1.5rem;
}

#dblArrowDown {
    position: relative;
    left: 31%;
    vertical-align: bottom;
}

html {
    scroll-behavior: smooth;
}

#scrolltop {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s ease-in;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(10, 160, 18, 0.4);
    border-radius: 50%;
}

.top-button {
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.5;
    cursor: pointer;
    padding: 12px;
    color: #222;
}


/* ends */


/* Styles for the content section */

.content {
    width: 77%;
    margin: 50px auto;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
}

@media (min-width: 500px) {
    .content {
        width: 43%;
    }
    #button {
        margin: 30px;
    }
}

.content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
}

.content h3 {
    font-style: italic;
    color: #96a2a7;
}


/* Sub Header Style */

.sub-header {
    background-color: #fff;
    height: 46px;
    line-height: 46px;
    position: static;
    color: #00a54f;
    position: relative;
}

.sub-header ul li {
    display: inline-block;
    color: #00a54f;
}

.sub-header ul.left-info li {
    border-left: 1px solid rgba(250, 250, 250, 0.3);
    padding: 0px 20px;
}

.sub-header ul.left-info li:last-child {
    border-right: 1px solid rgba(250, 250, 250, 0.3);
}

.sub-header ul.left-info li i {
    margin-right: 10px;
    font-size: 18px;
}

.sub-header ul.left-info li a {
    color: #00a54f;
    font-size: 14px;
    font-weight: 600;
}

.sub-header ul.right-icons {
    float: right;
}

.sub-header ul.right-icons li {
    margin-right: -4px;
    width: 46px;
    display: inline-block;
    text-align: center;
    border-right: 1px solid #00a54f;
}

.sub-header ul.right-icons li:first-child {
    border-left: 1px solid #00a54f;
}

.sub-header ul.right-icons li a {
    color: #00a54f;
    transition: all 0.3s;
}

.sub-header ul.right-icons li a:hover {
    opacity: 0.75;
}


/* Header Style */

header {
    position: fixed;
    z-index: 99999;
    width: 100%;
    background-color: transparent!important;
    height: 100px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    position: relative;
}

header .navbar {
    padding: 20px 0px;
}

.background-header .navbar {
    padding: 10px 0px;
}

.background-header {
    top: 0;
    position: fixed;
    background-color: #00a54f!important;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.background-header .navbar-brand h2 {
    color: #00a54f!important;
}

.background-header .navbar-nav a.nav-link {
    color: #00a54f!important;
}

.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.current,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
    color: #00a54f!important;
}

.navbar .navbar-brand {
    float: left;
    margin-top: 12px;
    outline: none;
}

.navbar .navbar-brand img {
    width: 200px;
    background-color: #00a54f;
}

.navbar .navbar-brand h2 em {
    font-style: normal;
    font-size: 16px;
}

#navbarResponsive {
    z-index: 999;
}

.navbar-collapse {
    text-align: center;
}

.navbar .navbar-nav .nav-item {
    margin: 0px 15px;
}

.navbar .navbar-nav a.nav-link {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #00a54f;
    transition: all 0.5s;
    margin-top: 5px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.current,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
    color: #00a54f;
    border-bottom: 3px solid #00a54f;
}

.navbar .navbar-toggler-icon {
    background-image: none;
}

.navbar .navbar-toggler {
    border-color: #fff;
    background-color: #fff;
    height: 36px;
    outline: none;
    border-radius: 0px;
    position: absolute;
    right: 30px;
    top: 20px;
}

.navbar .navbar-toggler-icon:after {
    content: '\f0c9';
    color: #00a54f;
    font-size: 18px;
    line-height: 26px;
    font-family: 'FontAwesome';
}


/* Banner Style */

.img-fill {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center
}

.img-fill img {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    display: inline-block;
    max-width: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Grid1k {
    padding: 0 15px;
    max-width: 1200px;
    margin: auto;
}

.blocks-box,
.slick-slider {
    margin: 0;
    padding: 0!important;
}

.slick-slide {
    float: left;
    padding: 0;
}

.Modern-Slider .item .img-fill {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 95vh;
}

.Modern-Slider .item-1 .img-fill {
    background-image: url(../images/sliders_02/slider_11.png);
}

.Modern-Slider .item-2 .img-fill {
    background-image: url(../images/sliders_02/slider_13.png);
}

.Modern-Slider .item-3 .img-fill {
    background-image: url(../images/sliders_02/slider_14.png);
}

.Modern-Slider .item-4 .img-fill {
    background-image: url(../images/sliders_02/slider_20.png);
}

.Modern-Slider .NextArrow {
    position: absolute;
    top: 50%;
    right: 30px;
    border: 0 none;
    background-color: transparent;
    text-align: center;
    font-size: 36px;
    font-family: 'FontAwesome';
    color: #FFF;
    z-index: 5;
    outline: none;
    cursor: pointer;
}

.Modern-Slider .NextArrow:before {
    content: '\f105';
}

.Modern-Slider .PrevArrow {
    position: absolute;
    top: 50%;
    left: 30px;
    border: 0 none;
    background-color: transparent;
    text-align: center;
    font-size: 36px;
    font-family: 'FontAwesome';
    color: #FFF;
    z-index: 5;
    outline: none;
    cursor: pointer;
}

.Modern-Slider .PrevArrow:before {
    content: '\f104';
}

ul.slick-dots {
    display: none!important;
}

.Modern-Slider .text-content {
    text-align: left;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Modern-Slider .text-content a {
    text-align: center;
    width: 200px;
    top: 50%;
    left: 80%;
    transform: translate(-5%, -50%);
    background-color: #00a54f;
}

.Modern-Slider .text-content a:hover {
    text-align: center;
    width: 20%;
    top: 50%;
    left: 80%;
    transform: translate(-5%, -50%);
    color: #353030;
}

.Modern-Slider .item h6 {
    margin-bottom: 15px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #03a7e5;
    animation: fadeOutRight 1s both;
}

.Modern-Slider .item h4 {
    margin-bottom: 30px;
    text-transform: capitalize;
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #FFF;
    overflow: hidden;
    animation: fadeOutLeft 1s both;
}

.Modern-Slider .item p {
    max-width: 570px;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.Modern-Slider .item a {
    margin: 0 5px;
}

.Modern-Slider .item.slick-active h6 {
    animation: fadeInDown 1s both 1s;
}

.Modern-Slider .item.slick-active h4 {
    animation: fadeInLeft 1s both 1.5s;
}

.Modern-Slider .item.slick-active {
    animation: Slick-FastSwipeIn 1s both;
}

.Modern-Slider .buttons {
    position: relative;
}

.Modern-Slider {
    background: #000;
}


/* ==== Slick Slider Css Ruls === */

.slick-slider {
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left/* If RTL Make This Right */
    ;
    height: 100%;
    min-height: 1px
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}


/* Request Form */

.request-form {
    background-color: #00a54f;
    padding: 40px 0px;
    color: #fff;
}

.request-form h4 {
    font-size: 22px;
    font-weight: 600;
}

.request-form span {
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    margin-top: 10px;
}

.request-form a.border-button {
    margin-top: 12px;
    float: right;
}


/* Services */

.services {
    margin-top: 140px;
}

.service-item img {
    width: 100%;
    overflow: hidden;
}

.service-item .down-content {
    background-color: #f7f7f7;
    padding: 30px;
}

.service-item .down-content h4 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin-bottom: 15px;
}

.service-item .down-content p {
    margin-bottom: 20px;
}


/* Fun Facts */

.fun-facts {
    margin-top: 140px;
    background-image: url(../images/fun-facts-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 140px 0px;
    color: #fff;
}

.fun-facts span {
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
}

.fun-facts h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 35px;
}

.fun-facts em {
    font-style: normal;
    color: #a4c639;
}

.fun-facts p {
    color: #fff;
    margin-bottom: 40px;
}

.fun-facts .left-content {
    margin-right: 45px;
}

.count-area-content {
    text-align: center;
    background-color: rgba(250, 250, 250, 0.1);
    padding: 25px 30px 35px 30px;
    margin: 15px 0px;
}

.count-digit {
    margin: 5px 0px;
    color: #a4c639;
    font-weight: 700;
    font-size: 36px;
}

.count-title {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.5px;
}


/* More Info */

.more-info {
    margin-top: 140px;
}

.more-info .left-image img {
    width: 100%;
    overflow: hidden;
}

.more-info .more-info-content {
    background-color: #f7f7f7;
}

.about-info .more-info-content {
    background-color: transparent;
}

.about-info .right-content {
    padding: 0px!important;
    margin-right: 30px;
}

.more-info .right-content {
    padding: 45px 45px 45px 30px;
}

.more-info .right-content span {
    text-transform: uppercase;
    font-size: 15px;
    color: #666;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
}

.more-info .right-content h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 35px;
}

.more-info .right-content em {
    font-style: normal;
    color: #a4c639;
}

.more-info .right-content p {
    margin-bottom: 30px;
}


/* Testimonials Style */

.about-testimonials {
    margin-top: 0px!important;
}

.testimonials {
    margin-top: 140px;
    background-color: #f7f7f7;
    padding: 140px 0px;
}

.testimonial-item .inner-content {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}

.testimonial-item p {
    font-size: 14px;
    font-weight: 400;
}

.testimonial-item h4 {
    font-size: 19px;
    font-weight: 700;
    color: #1e1e1e;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
}

.testimonial-item span {
    display: inline-block;
    margin-top: 8px;
    font-weight: 600;
    font-size: 14px;
    color: #a4c639;
}

.testimonial-item img {
    max-width: 60px;
    border-radius: 50%;
    margin: 25px auto 0px auto;
}


/* Call Back Style */

.callback-services {
    border-top: 1px solid #eee;
    padding-top: 140px;
}

.contact-us {
    background-color: #f7f7f7;
    padding: 140px 0px;
}

.contact-us .contact-form {
    background-color: transparent!important;
    padding: 0!important;
}

.callback-form {
    margin-top: 140px;
}

.callback-form .contact-form {
    background-color: #00a54f;
    padding: 60px;
    border-radius: 5px;
    text-align: center;
}

.callback-form .contact-form input {
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0px 15px;
    color: #6a6a6a;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 35px;
}

.callback-form .contact-form input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.callback-form .contact-form textarea {
    border-radius: 20px;
    height: 120px;
    max-height: 200px;
    min-height: 120px;
    display: inline-block;
    padding: 15px;
    color: #6a6a6a;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 35px;
}

.callback-form .contact-form textarea:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.callback-form .contact-form ::-webkit-input-placeholder {
    /* Edge */
    color: #aaa;
}

.callback-form .contact-form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #aaa;
}

.callback-form .contact-form ::placeholder {
    color: #aaa;
}

.callback-form .contact-form button.border-button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 28px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}

.callback-form .contact-form button.border-button:hover {
    background-color: #fff;
    color: #00a54f;
}

.contact-us .contact-form button.filled-button {
    background-color: #00a54f;
    color: #fff;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}

.contact-us .contact-form button.filled-button:hover {
    background-color: #fff;
    color: #a4c639;
}


/* Partners Style */

.contact-partners {
    margin-top: -8px!important;
}

.partners {
    margin-top: 140px;
    background-color: #f7f7f7;
    padding: 60px 0px;
}

.partners .owl-item {
    text-align: center;
    cursor: pointer;
}

.partners .partner-item img {
    max-width: 156px;
    margin: auto;
}


/* Footer Style */

footer {
    background-color: #151716;
    padding: 80px 0px;
    color: #fff;
}

footer h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.25px;
    margin-bottom: 35px;
}

footer p {
    color: #fff;
}

footer ul.social-icons {
    margin-top: 25px;
}

footer ul.social-icons li {
    display: inline-block;
    margin-right: 5px;
}

footer ul.social-icons li:last-child {
    margin-right: 0px;
}

footer ul.social-icons li a {
    width: 34px;
    height: 34px;
    display: inline-block;
    line-height: 34px;
    text-align: center;
    background-color: #fff;
    color: #232323;
    border-radius: 50%;
    transition: all 0.3s;
}

footer ul.social-icons li a:hover {
    background-color: #00a54f;
}

footer ul.menu-list li {
    margin-bottom: 13px;
}

footer ul.menu-list h5 {
    margin-bottom: 13px;
    color: #03a7e5;
}

footer ul.menu-list li:last-child {
    margin-bottom: 0px;
}

footer ul.menu-list li a {
    font-size: 14px;
    color: #fff;
    transition: all 0.3s;
}

footer ul.menu-list li a:hover {
    color: #00a54f;
}

footer .contact-form input {
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0px 15px;
    color: #aaa!important;
    background-color: #343434;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 15px;
}

footer .contact-form input:focus {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #343434;
}

footer .contact-form textarea {
    border-radius: 20px;
    height: 120px;
    max-height: 200px;
    min-height: 120px;
    display: inline-block;
    padding: 15px;
    color: #aaa!important;
    background-color: #343434;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 15px;
}

footer .contact-form textarea:focus {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #343434;
}

footer .contact-form ::-webkit-input-placeholder {
    /* Edge */
    color: #aaa;
}

footer .contact-form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #aaa;
}

footer .contact-form ::placeholder {
    color: #aaa;
}

footer .contact-form button.filled-button {
    background-color: transparent;
    color: #fff;
    background-color: #00a54f;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}

footer .contact-form button.filled-button:hover {
    background-color: #fff;
    color: #00a54f;
}


/* Sub-footer Style */

.sub-footer {
    background-color: #343434;
    text-align: center;
    padding: 25px 0px;
}

.sub-footer p {
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.sub-footer a {
    color: #fff;
}


/* ====about us== */

.page-heading {
    text-align: center;
    background-image: url(../images/about/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 230px 0px 150px 0px;
    color: #fff;
}

.page-heading #headingCorner {
    border-radius: 25px;
    border: 2px solid #fff;
    max-width: auto;
    text-align: center;
}

.page-heading #headingCorner h4 {
    max-width: auto;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}

.page-heading p {
    text-transform: capitalize;
    font-size: 70px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    margin-left: auto;
    margin-top: 15px;
}

.page-heading span {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    display: block;
}

.more-info-content .left-content-one {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
}

.more-info-content .left-content-one h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #816559;
    text-align: center;
    padding: 5px;
}

.more-info-content .left-content-one img {
    position: relative;
    margin-left: 100px;
    padding: 10px;
}

.more-info-content .left-content-one h2 {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    color: #00a54f;
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    float: left;
}

#our-mission {
    padding-top: 120px;
}

#our-mission h3 {
    color: #00a54f;
    padding-top: 12px;
    font-weight: 800;
    font-size: 40px;
}

#our-mission p {
    padding-top: 12px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#mental-projects {
    padding: 160px 0;
}

#mental-projects h5 {
    color: #03a7e5;
    padding-bottom: 15px;
}

#mental-projects p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 600;
    color: #00a54f;
    padding-top: 10px;
}


/* -------end about section ====*/


/* team */

.team {
    background-color: #f7f7f7;
    margin-top: 140px;
    margin-bottom: -140px;
    padding: 120px 0px;
}

.team-item img {
    width: 100%;
    overflow: hidden;
}

.team-item .down-content {
    background-color: #fff;
    padding: 30px;
}

.team-item .down-content h4 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin-bottom: 10px;
}

.team-item .down-content span {
    color: #a4c639;
    font-weight: 600;
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
}

.team-item .down-content p {
    margin-bottom: 20px;
}


/* Single Service */

.single-services {
    margin-top: 140px;
}

#tabs ul {
    margin: 0;
    padding: 0;
}

#tabs ul li {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

#tabs ul li:last-child {
    margin-bottom: 0px;
}

#tabs ul li a {
    text-transform: capitalize;
    width: 100%;
    padding: 30px 30px;
    display: inline-block;
    background-color: #a4c639;
    font-size: 20px;
    color: #121212;
    letter-spacing: 0.5px;
    font-weight: 700;
    transition: all 0.3s;
}

#tabs ul li a i {
    float: right;
    margin-top: 5px;
}

#tabs ul .ui-tabs-active span {
    background: #faf5b2;
    border: #faf5b2;
    line-height: 90px;
    border-bottom: none;
}

#tabs ul .ui-tabs-active a {
    color: #fff;
}

#tabs ul .ui-tabs-active span {
    color: #1e1e1e;
}

.tabs-content {
    margin-left: 30px;
    text-align: left;
    display: inline-block;
    transition: all 0.3s;
}

.tabs-content img {
    max-width: 100%;
    overflow: hidden;
}

.tabs-content h4 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.tabs-content p {
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 0px;
}


/* Contact Information */

.contact-information {
    margin-top: 140px;
}

.contact-information .contact-item {
    padding: 60px 30px;
    background-color: #f7f7f7;
    text-align: center;
}

.contact-information .contact-item i {
    color: #a4c639;
    font-size: 48px;
    margin-bottom: 40px;
}

.contact-information .contact-item h4 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin-bottom: 15px;
}

.contact-information .contact-item p {
    margin-bottom: 20px;
}

.contact-information .contact-item a {
    font-weight: 600;
    color: #a4c639;
    font-size: 15px;
}


/* Responsive Style */

@media (max-width: 768px) {
    .sub-header {
        display: none;
    }
    .Modern-Slider .item h6 {
        margin-bottom: 15px;
        font-size: 18px;
    }
    .Modern-Slider .item h4 {
        margin-bottom: 25px;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 1px;
    }
    .Modern-Slider .item p {
        max-width: 570px;
        line-height: 25px;
        margin-bottom: 30px;
    }
    .Modern-Slider .NextArrow {
        right: 5px;
    }
    .Modern-Slider .PrevArrow {
        left: 5px;
    }
    .request-form {
        text-align: center;
    }
    .request-form a.border-button {
        float: none;
        margin-top: 30px;
    }
    .services .service-item {
        margin-bottom: 30px;
    }
    .fun-facts .left-content {
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .more-info .right-content {
        padding: 30px;
    }
    footer {
        padding: 80px 0px 20px 0px;
    }
    footer .footer-item {
        border-bottom: 1px solid #343434;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
    footer .last-item {
        background-color: #00BCD4;
    }
    footer .last-item {
        /* visibility: visible;
        display: inline-block;
        width: 360px;
        height: 100px;
        padding: 0px;
        border: none;
        max-width: 100%;
        min-width: 180px;
        margin-top: 0px;
        margin-bottom: 0px;
        min-height: 200px; */
        background-color: #00BCD4;
        overflow: scroll;
    }
    .about-info .right-content {
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .team .team-item {
        margin-bottom: 30px;
    }
    .tabs-content {
        margin-left: 0px;
        margin-top: 30px;
    }
    .contact-item {
        margin-bottom: 30px;
    }
}

@media (max-width: 992px) {
    .navbar .navbar-brand {
        position: absolute;
        left: 30px;
        top: 10px;
    }
    .navbar .navbar-brand {
        width: auto;
    }
    .navbar:after {
        display: none;
    }
    #navbarResponsive {
        z-index: 99999;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    }
    .navbar .navbar-nav .nav-item {
        border-bottom: 1px solid #eee;
    }
    .navbar .navbar-nav .nav-item:last-child {
        border-bottom: none;
    }
    .navbar .navbar-nav a.nav-link {
        padding: 15px 0px;
        color: #1e1e1e!important;
    }
    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .active>.nav-link,
    .navbar .navbar-nav .nav-link.current,
    .navbar .navbar-nav .nav-link.show,
    .navbar .navbar-nav .show>.nav-link {
        color: #00a54f!important;
        border-bottom: none!important;
    }
}


/* ===bounce arrow=== */

.arrow-container {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    cursor: pointer;
}

.arrow-1 {
    width: 100px;
    height: 100px;
    background: #00BCD4;
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
}

.arrow-2 {
    width: 60px;
    height: 60px;
    background: #00BCD4;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    display: table;
}

.arrow-2:before {
    width: 52px;
    height: 52px;
    content: "";
    border: 2px solid #006064;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
}

.arrow-2 i.fa {
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #006064;
}


/* Custom Animate.css */

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.4, .4, .4);
        transform: scale3d(.4, .4, .4);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.4, .4, .4);
        transform: scale3d(.4, .4, .4);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}


/* --arrow end = */

.fadeInDown {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}


/* =========apppointment section=====*/

#appointment-section {
    margin-top: 119px;
    margin-left: 14px;
    width: 100%;
    height: 100%;
}

#appointment-section .item-one h2 {
    margin-top: 2px;
    background-color: #00a54f;
    padding: 40px;
    margin-top: -2px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 9px;
    color: #ffff;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

#appointment-section .item-one #appointment-form {
    padding-top: 45px;
}

#appointment-section .item-one #appointment-form .appointment-btn .form-control {
    background-color: #00a54f;
    color: #ffff;
    text-align: center;
}

#appointment-section .item-one {
    margin-top: 2px;
    background-color: #f9a684;
    width: 100%;
    max-width: max-content;
    height: 578px;
    margin-bottom: 60px;
}

#appointment-section .item-one h2 {
    margin-top: 2px;
    background-color: #00a54f;
    padding: 40px;
    margin-top: -2px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 9px;
    color: #ffff;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

#appointment-section .item-one #appointment-form {
    padding-top: 45px;
}

#appointment-section .item-one #appointment-form .appointment-btn .form-control {
    background-color: #00a54f;
    color: #ffff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 45px;
    padding-top: 25px;
}


/* =============item two=========== */


/* #03a7e5 */

#appointment-section .item-two {
    width: 100%;
    height: 578px;
    margin-bottom: 100px;
    font-size: 20px;
    font-family: sans-serif;
}

#appointment-section .item-two .image-about img {
    width: 100%;
    margin-bottom: 20px;
}

#appointment-section .item-two h6 {
    color: #03a7e5;
    font-size: 15px;
    font-weight: 600;
}

#appointment-section .item-two .list-inline {
    color: #00a54f;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 14px;
}

#appointment-section .item-two .title {
    color: #00a54f;
    margin-top: 15px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: left;
    font-size: 28px;
}


/* =====team section===== */

#team-section {
    padding: 60px 0;
    margin-top: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#team-section .about-info {
    /* min-height: 150vh; */
    /* display: flex; */
    align-items: center;
    padding: 100px 0;
    margin-top: 50px;
}

#team-section .about-info .about-content {
    /* justify-content: center; */
    margin-right: 80px;
    margin-bottom: 50px;
}

#team-section #our-team {
    color: #03a7e5;
    text-align: center;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}

#team-section h1 {
    color: #00a54f;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}


/* ======another one===== */

.box {
    border-radius: 10px #00a54f;
    background: rgb(253, 253, 253);
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 900px;
    width: 100%;
    margin-bottom: 18px;
    border: 2px solid #00a54f;
    font-family: 'Times New Roman', Times, serif;
}

.box:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 0px;
    height: 100%;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.box:hover:before {
    width: 100%;
}

.box:hover .image-wrapper {
    padding: 0;
}

.box:hover .box-desc {
    color: #fff;
}

.box:hover .social li a {
    background: #fff;
    background-image: none;
    color: #00a54f;
}

.box:hover .social li a:hover {
    background: #00a54f;
    color: #fff;
}

.image-wrapper {
    position: relative;
    max-width: 210px;
    max-height: 210px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    padding: 26px;
    transition: all 0.5s ease;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.20);
}

.image-wrapper img {
    border-radius: 50%;
    transition: all 500ms ease;
}

.box-desc {
    position: relative;
}

.box-desc h5 {
    font-size: 20px;
    position: relative;
    color: #00a54f;
    font-family: 'Times New Roman', Times, serif;
}

ul.social {
    padding: 1px;
}

ul.social li {
    display: inline-block;
    list-style-type: none;
}

ul.social li a {
    position: relative;
    width: 36px;
    height: 36px;
    background-image: linear-gradient(to right, #00a54f 0%, #00a54f 100%);
    display: inline-block;
    line-height: 36px;
    border-radius: 50%;
    color: #fff;
    transition: all .5s ease;
}


/* ========about-section====== */

#about-section {
    margin-top: -100px;
    padding-bottom: 40px;
}

#about-section img {
    top: 0;
    margin-left: -80px;
    width: 600px;
    height: 800px;
    background-position: center;
    border: 6px solid #00a54f;
}

#about-section h5 {
    margin: 10px;
    color: #03a7e5;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

#about-section h2 {
    margin: 10px;
    color: #00a54f;
    font-size: 45px;
    font-weight: 800;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

#about-section .left-content {
    border: 10px solid #03a7e5;
    height: 320px;
    margin-left: -1px;
    margin-top: 20px;
}

#about-section .right-content {
    margin-left: 20px;
    margin-top: 15px;
}

.more-about {
    margin-top: 25px;
    margin-left: -8px;
}

.more-about #left img {
    width: 80px;
    height: 80px;
    margin-top: 5px;
    margin-left: -30px;
    float: left;
    border: 2px solid #ddd;
}

.more-about #left h2 {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
}

.more-about #left p {
    font-size: 10px;
    font-weight: 700;
    margin-top: -15px;
    text-align: center;
    padding-bottom: 10px;
}

.btn-right {
    background-color: #00a54f !important;
    color: #fff;
    border: none;
    width: 100%;
    margin-top: 45px;
    height: 70px;
    border-radius: 2px;
}

.btn-right a {
    color: #fff !important;
    border: none;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.btn-right:hover {
    background-color: rgb(33, 206, 99) !important;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}


/* =====affordable-programs============ */

#affordable-programs {
    padding: 60px 0;
    margin-bottom: 20px;
}

#affordable-programs h4 {
    text-align: center;
    color: #03a7e5;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

#affordable-programs h5 {
    text-align: center;
    color: #00a54f;
    padding-left: 140px;
    font-size: 60px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}

#affordable-programs .card-group {
    border-radius: 10px;
    padding-top: 20px;
}

#affordable-programs .card {
    border: none;
    margin: 30px;
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: 1px 0 5px 2px #005046;
}

#affordable-programs .card:hover {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 6px 3px #f8a683;
}


/* color codes #f8a683 005046 */

#affordable-programs .card .card-img-top {
    width: 50px;
    height: min-content;
    margin: auto;
    border-radius: 25px;
    content: '';
}

#affordable-programs .card .card-title {
    border: none;
    color: #00a54f;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

#affordable-programs .card .card-text {
    border: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.card-footer {
    background-color: #005046;
}

.card-footer .btn {
    background-color: #005046;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

.card-footer .btn:hover {
    background-color: #264b39;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}


/* =========================programs======ends================ */


/* -----====why choose us====---- */

#why-choose-us {
    padding: 0px;
    margin-bottom: 0px;
    background-color: #f6f6f6;
}

#why-choose-us .item-left {
    margin-top: 50px;
    float: left;
}

#why-choose-us .item-left h4 {
    margin-top: 100px;
    color: #03a7e5;
    font-size: 15px;
    font-weight: 600;
}

#why-choose-us .item-left h1 {
    color: #00a54f;
    font-family: 'Times New Roman', Times, serif;
}

.list-inline .list-inline-item {
    display: inline-block;
}

.list-inline .list-inline-item img {
    padding-bottom: 15px;
    width: 65px;
}

.list-inline .list-inline-item h1 {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}

#why-choose-us .item-left p {
    text-align: left;
    margin-left: 80px;
    margin-top: -30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}


/* ----item right--- */

#why-choose-us .item-right {
    float: right;
    width: 100%;
}

#why-choose-us .item-right img {
    width: 450%;
    height: 100%;
    float: right;
    margin: 10px;
}


/* ====partners section===*/

#partners {
    padding-top: 300px;
    margin-bottom: 30px;
    background-image: url(/assets/images/partners/pattern-3.jpg);
    border: 4px solid #006064;
    overflow-x: hidden;
}

#partners .partners-img .col-md-2 {
    margin-top: -200px;
    margin-left: auto;
}

.partners-img {
    color: #fbfbfb;
    animation-name: rightToLeft;
    animation-duration: 4.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation: rightToLeft 4.5s linear infinite; */
}

@keyframes rightToLeft {
    0% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(-160px);
    }
}


/* ===recent story==== */

#recent-story {
    padding: 2rem 0rem;
}

#recent-story .card-img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#recent-story .card-title {
    margin-bottom: 0.3rem;
}

#recent-story .cat {
    display: inline-block;
    margin-bottom: 1rem;
}

#recent-story .fa-users {
    margin-left: 1rem;
}

#recent-story .card-footer {
    font-size: 0.8rem;
}


/* ===footer== */

#recent-story .card-footer {
    font-size: 0.8rem;
}


/* ===SERVICES O1-->06== /*/

#service-item {
    padding-top: 100px;
    padding-bottom: 120px;
}

#service-item .item-left {
    padding-right: 60px;
    padding-left: 10px;
    background-color: #f6f6f6;
}

#service-item .item-left h4 {
    color: #00a54f;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 15px;
}

#service-item .item-left a {
    font-family: 'Times New Roman', Times, serif;
    color: #94776b;
    /* border-bottom: 1px solid #8f7676; */
    top: 19px;
}

#service-item .item-left a:hover {
    border-bottom: 1px solid #8f7676;
    color: #00a54f;
}

#service-item .item-left p {
    font-family: 'Times New Roman', Times, serif;
    color: #94776b;
    top: 19px;
    font-size: 20px;
}

#service-item .item-right p {
    font-family: 'Times New Roman', Times, serif;
    color: #94776b;
    top: 19px;
    font-size: 20px;
}

#service-item .item-right h4 {
    font-family: 'Times New Roman', Times, serif;
    color: #00a54f;
    top: 19px;
    font-size: 48px;
    font-weight: 800;
}

#service-item .item-right h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #00a54f;
    top: 19px;
    font-size: 48px;
    font-weight: 800;
}


/* next row */

#left-container {
    position: relative;
    font-family: Arial;
}

.text-block {
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: #fff!important;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.text-block a {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #00a54f;
    color: white;
    padding-left: 45px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 3px;
    font-size: 20px;
}

.btn:focus,
.btn:active,
button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

#image-gallery .modal-footer {
    display: block;
}

.thumb {
    margin-top: 15px;
    margin-bottom: 15px;
}


/* contact-us */

#contact-us-form {
    padding-bottom: 50px;
}

#contact-us-form .controls {
    padding: 30px;
    border-radius: 20px;
    background-color: #f7f7f7;
}

#contact-us-form .controls .form-group {
    padding: 10px;
    align-items: center;
    margin-top: 10px;
}

#contact-us-form .controls .form-group #form_name {
    padding: 10px;
    background-color: #ddd;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-right: 50px;
}

#contact-us-form .controls .form-group #form_lastname {
    padding: 10px;
    background-color: #ddd;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-right: 50px;
}

#contact-us-form .controls .form-group #form_email {
    padding: 10px;
    background-color: #ddd;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-right: 50px;
}

#contact-us-form .controls .form-group #form_phone {
    padding: 10px;
    background-color: #ddd;
    align-items: center;
    width: 100%;
    height: 100px;
}

#contact-us-form .controls .form-group #form_message {
    padding: 10px;
    background-color: #ddd;
    align-items: center;
    width: 100%;
}

#contact-us-form .controls .btn {
    background-color: #00a54f;
    width: 250px;
    height: 100px;
    padding: 20px;
    margin-left: 10px;
}

#contact-us-form .text-center h1 {
    color: #00a54f;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center!important;
    font-weight: 600;
}

#contact-us-form .text-center h6 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center!important;
    font-weight: 600;
    padding: 10px;
}


/* contact address */

#contact-addresses #contact-contents {
    background-color: #00a54f;
    border-radius: 12px;
    width: 100%;
    margin-right: auto;
    height: 100%;
}

#contact-addresses ul {
    list-style: none;
}

#item-1 {
    margin-top: 30px;
}

#item-1 ul li h2 {
    color: white;
    margin-top: -65px;
    margin-left: 80px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

#item-1 ul li p {
    color: white;
    margin-left: 80px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

#empty-section {
    padding-top: 500px;
    background-color: #ddd;
    margin-top: -140px;
}

#downloads .downloads-contents {
    margin-top: 65px;
    margin-bottom: 45px;
    border: 3px solid #666666;
    border-radius: 5px;
    position: relative;
    display: inline-block;
}


/* =====get appointment section==== */

#get-appointment .well-block {
    background-color: #fff;
    border: 1px solid #e9e6e8;
    padding: 40px;
}

#get-appointment {
    margin-bottom: 40px;
}

#get-appointment #body_header {
    width: auto;
    margin: 0px auto;
    text-align: center;
    font-size: 25px;
}

#get-appointment #form {
    max-width: auto;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

#get-appointment h1 {
    margin: 0 0 30px 0;
    text-align: center;
    color: #00a54f;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: auto;
    outline: 0;
    padding: 8px;
    width: 100%;
    background-color: #e8eeef;
    color: black;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

#get-appointment #form select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

#get-appointment #form button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
}

#get-appointment #form fieldset {
    margin-bottom: 30px;
    border: none;
}

#get-appointment #form legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

#get-appointment #form label {
    display: block;
    margin-bottom: 8px;
}

#get-appointment #form label.light {
    font-weight: 300;
    display: inline;
}

#get-appointment #form .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}

#form {
    max-width: 100%;
    margin-bottom: 30px;
}

#events-section {
    padding: 0;
    margin-bottom: 100px;
}

#events-section .blog-home2 {
    font-family: "Montserrat", sans-serif;
    color: #00a54f;
    font-weight: 300;
}

#events-section,
.blog-home2 h1,
.blog-home2 h2,
.blog-home2 h3,
.blog-home2 h4,
.blog-home2 h5,
.blog-home2 h6 {
    color: #00a54f;
}

#events-section .blog-home2 .font-weight-medium {
    font-weight: 500;
}

#events-section .blog-home2 .bg-light {
    background-color: #f4f8fa !important;
}

#events-section .blog-home2 .subtitle {
    color: #8d97ad;
    line-height: 24px;
}

#events-section .blog-home2 .text-themecolor {
    color: #00a54f;
}

#events-section .blog-home2 h5 {
    line-height: 22px;
    font-size: 18px;
}

.blog-home2 a.link {
    color: #121212;
}

.blog-home2 a.link:hover {
    color: #00a54f;
}

.blog-home2 .on-hover {
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.blog-home2 .on-hover:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.blog-home2 .date-pos {
    right: 10px;
    top: 10px;
}

.blog-home2 .date-pos span {
    font-size: 30px;
    line-height: 30px;
}

.blog-home2 .bg-info-gradiant {
    background: #188ef4;
    background: -webkit-linear-gradient(legacy-direction(to right), #188ef4 0%, #316ce8 100%);
    background: -webkit-gradient(linear, left top, right top, from(#188ef4), to(#316ce8));
    background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%);
    background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%);
    background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
}